<div class="l-main_container">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-11">

      <h2 class="head-line text-left">会員情報編集</h2></br>

      <%= form_with @customer do |f| %>
        <div class="field form-group col-sm-12">
          <%= f.label :"氏名", class: "col-sm-4 control-label" %>
          <%= f.text_field :last_name, autofocus: true, class:"col-sm-3 form-control-static name" %>
          <%= f.text_field :first_name, autofocus: true, class:"col-sm-3 form-control-static name"%>
        </div>

        <div class="field form-group col-xs-12">
          <%= f.label :"フリガナ", class: "col-sm-4 control-label" %>
          <%= f.text_field :last_name_kana, autofocus: true, class:"col-sm-3 form-control-static name" %>
          <%= f.text_field :first_name_kana, autofocus: true, class:"col-sm-3 form-control-statsic name"%>
        </div>

        <div class="field form-group col-xs-12">
          <%= f.label :"郵便番号", class: "col-sm-4 control-label" %>
          <%= f.text_field :post_code, autofocus: true, class:"col-sm-3 form-control-static" %>
        </div>

        <div class="field form-group col-xs-12">
          <%= f.label :"住所", class: "col-sm-4 control-label" %>
          <%= f.text_field :address, autofocus: true, class:"col-sm-7 form-control-static" %>
        </div>

        <div class="field form-group col-xs-12">
          <%= f.label :"電話番号", class: "col-sm-4 control-label" %>
          <%= f.telephone_field :tel, autofocus: true, class:"col-sm-3 form-control-static" %>
        </div>

        <div class="field form-group col-xs-12">
          <%= f.label :"メールアドレス", class: "col-sm-4 control-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-sm-7 form-control-static" %>
        </div>

        <div class="actions col-4 mx-auto">
          <%= f.submit "編集内容を保存", class: "btn btn-success col-sm-11" %>
        </div>
        <div class="actions col-4 mx-auto">
          <%= f.submit "退会する", class: "btn btn-danger col-sm-8" %>
        </div>
      <% end %>
    </div>
  </div>
</div>