<div class="l-main_container">

<div>マイページ</div>

<div class="col-xs-11 col-xs-offset-1">
  <div>
    登録情報
    <%= link_to "編集する", edit_public_customers_path,class: "btn btn-success" %>
  </div>
  <div class="row">
    <table class="table table-bordered col-sm-4">
        <tbody>
          <tr>
            <td class="table-info col-sm-2">氏名</td>
            <td class="col-sm-6">
              <%= @customer.last_name %>
              <%= @customer.first_name %>
            </td>
          </tr>
          <tr>
            <td class="table-info">カナ</td>
            <td>
              <%= @customer.last_name_kana %>
              <%= @customer.first_name_kana %>
            </td>
          </tr>
          <tr>
            <td class="table-info">郵便番号</td>
            <td><%= @customer.post_code %></td>
          </tr>
          <tr>
            <td class="table-info">住所</td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td class="table-info">電話番号</td>
            <td><%= @customer.tel %></td>
          </tr>
          <tr>
            <td class="table-info">メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
      </tbody>
    </table>
  </div>

    <div>
      配送先
      <%= link_to "一覧を見る", public_deliveries_path, class: "btn btn-primary" %>
    </div>
    <div>
      注文履歴
      <%= link_to "一覧を見る", public_orders_path, class: "btn btn-primary" %>
    </div>
</div>
