<table class="cart-product_table">
  <% if current_customer.cart_products.present? %>

  <tr class="cart-product_table_row">
    <th>商品名</th>
    <th>単価<br class="u-sp">(税込)</th>
    <th>数量</th>
    <th>小計</th>
    <th class="u-pc"></th>
  </tr>

    <%  cart.each do |cart_product| %>

  <tr class="cart-product_table_row">
    <td><img class="cart-product_image" src="" alt=""><%= cart_product.product.name %><br class=u-sp>
    <%= link_to '削除', cart_product_path(cart_product), method: :delete ,class: "cart_delete_btn_table u-sp"%></td>
    <td><%= cart_product.product.price.to_s(:delimited) %></td>
    <td>
      <%= form_with model: cart_product, url: "/cart_products/#{cart_product.id}",method: :PATCH, remote: true  do |f| %>
      <div class="select_design">
        <%= f.select :quantity , options_for_select((1..50).to_a, :selected => cart_product.quantity ) %>
      </div>
        <%= f.hidden_field :customer_id, value: current_customer.id %>
        <%= f.hidden_field :product_id, value: cart_product.product.id %>
        <%= f.submit '変更', class: "cart-product_update_btn" %>
      <% end %>
    </td>
    <td><%= total= (cart_product.product.add_tax_price * cart_product.quantity).to_s(:delimited)  %></td>
    <td class="u-pc"><%= link_to '削除', cart_product_path(cart_product), method: :delete ,class: "cart_delete_btn u-pc"%></td>
  </tr>

    <% end %>
  <% else %>
    <div class="notice"><%= notice %></div>
      <div class="cart-product_other">
        カートには商品はありません
      </div>

  <% end %>
</table>
  <div class="cart-product_other">
  <%= link_to '買い物を続ける', root_path ,class: "cart-product_continue_btn"%>
  <div class="price-total">
    <span class="price-total_text">合計金額</span>
    <span class="price-total_value">
      <% totals = [] %>
      <% cart.each do |cart_product|%>
      <% totals << cart_product.product.add_tax_price * cart_product.quantity %>
      <% end %>
      <% total = totals.to_a.sum %>
      <%= total.to_s(:delimited) %>
    </span>
  </div>
</div>
