<%= render 'layouts/login_errors' %>
<div class="l-main_container">
  <h2 class="admin-login_title">管理者ログイン</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table class="login-table">
      <tr>
        <th><%= f.label :"メールアドレス"%></th>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %></td>
      </tr>
      <tr>
        <th><%= f.label :"パスワード"%></th>
        <td><%= f.password_field :password, autocomplete: "current-password"%></td>
      </tr>
    </table>
    <%= f.submit "ログイン", class: "login-btn" %>
  <% end %>
</div>