<div class="l-main_container">
  <h2 class="admin-title"><%= @customer.last_name %><%= @customer.first_name %>さんの<br class="u-sp">会員情報編集</h2>
  <%= form_with model: @customer, url: admin_customer_path, local: true do |f| %>
    <table class="cutomer-edit_table">
      <tr>
        <th>会員ID</th>
        <td><%= @customer.id %></td>
      </tr>
      <tr>
        <th><%= f.label :"氏名" %></th>
        <td>
          <%= f.text_field :last_name, autofocus: true %>
          <%= f.text_field :first_name, autofocus: true %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :"フリガナ" %></th>
        <td>
          <%= f.text_field :last_name_kana, autofocus: true %>
          <%= f.text_field :first_name_kana, autofocus: true %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :"郵便番号" %></th>
        <td><%= f.text_field :post_code, autofocus: true %></td>
      </tr>
      <tr  class="cutomer-edit_table_address">
        <th><%= f.label :"住所"%></th>
        <td><%= f.text_field :address, autofocus: true %></td>
      </tr>
      <tr>
        <th><%= f.label :"電話番号" %></th>
        <td><%= f.telephone_field :tel, autofocus: true %></td>
      </tr>
      <tr>
        <th><%= f.label :"メールアドレス" %></th>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
      <tr>
        <th><%= f.label :"会員ステータス", class: "control-label" %></th>
        <td>
          <%= f.radio_button :withdrawal_status, :false %>
          <%= f.label :withdrawal_status, "有効", {value: :false } %>
          <%= f.radio_button :withdrawal_status, :true %>
          <%= f.label :withdrawal_status, "退会", {value: :true } %>
        </td>
      </tr>
    </table>
  <%= f.submit "変更を保存", class: "admin-customer_edit_btn" %>
  <% end %>
</main>