<table class="delivery-index_list_table">
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </tr>
    <% deliverys.each do |delivery| %>
    <tr>
      <td><%= delivery.post_code %></td>
      <td><%= delivery.address %></td>
      <td><%= delivery.name %></td>
      <td class="delivery-index_btns">
      <%= link_to "編集", edit_delivery_path(delivery), class: "delivery-index_edit_btn" %>
      <%= link_to "削除", delivery_path(delivery), method: :delete, remote: true, data: { confirm: '本当に削除しますか？' }, class: "delivery-index_destroy_btn" %>
    </td>
    </tr>
    <% end %>
  </table>