<div class="l-main_container">
  <h2 class="delivery-title">配送先編集</h2>
    <%= form_with model: @delivery, local: true do |f| %>
      <table class="delivery-edit_table">
        <tr>
          <th><%= f.label :"郵便番号(ハイフンなし)" %></th>
          <td><%= f.text_field :post_code, autofocus: true  %></td>
        </tr>
        <tr>
          <th><%= f.label :"住所" %></th>
          <td><%= f.text_field :address, autofocus: true %></td>
        </tr>
        <tr>
          <th><%= f.label :"宛名" %></th>
          <td><%= f.text_field :name, autofocus: true, class:"form-control-static name rounded-lg" %></td>
        </tr>
      </table>
      <div class="delivery-edit_btn">変更内容を保存</div>
    <% end %>
</div>
