<div class="l-main_container">
  <div class="row">
    <div class="col-sm-12">
      <div class="shadow p-2 mb-5 col-md-1 bg-light rounded-lg head-line text-center">配送先編集</div>

        <table class="table table-borderless col-sm-4">
          <%= form_with model: @delivery, local: true do |f| %>
            <tbody>
              <tr class="field form-group col-sm-6">
                <th><%= f.label :"郵便番号(ハイフンなし)", class: "control-label" %></td>
                <td><%= f.text_field :post_code, autofocus: true, class:"form-control-static rounded-lg" %></td>
              </tr>

              <tr class="field form-group col-sm-6">
                <th><%= f.label :"住所", class: "control-label" %></th>
                <td><%= f.text_field :address, autofocus: true, class:"form-control-static rounded-lg" %></td>
              </tr>

              <tr class="field form-group col-sm-6">
                <th><%= f.label :"宛名", class: "control-label" %></th>
                <td><%= f.text_field :name, autofocus: true, class:"form-control-static name rounded-lg" %></td>
                <td class= text-right><%= f.submit "変更内容を保存", class: "btn btn-success" %></td>
              </tr>
            </tbody>
          <% end %>
        </table>

    </div>
  </div>
</div>
