<div class="l-main_container">
  <div classs="row">
    <div class="offset-1 col-md-4">
      <div class="shadow p-1 mb-5 col-md-3 bg-light rounded-lg head-line text-center">配送先登録/一覧</div>
        <tbody>
          <table class="table table-borderless">
            <%= form_with model: @delivery  do |f| %>
              <tr class="form-group  col-sm-12">
                <th><%= f.label :"郵便番号(ハイフンなし)", class: "control-label" %></th>
                <td><%= f.text_field :post_code, autofocus: true, class:"form-control-static rounded-lg" %></td>
              </tr>

              <tr class="form-group col-sm-12">
                <th><%= f.label :"住所", class: "control-label" %></th>
                <td><%= f.text_field :address, autofocus: true, class:"form-control-static rounded-lg" %></td>
              </tr>

              <tr class="form-group col-sm-12">
                <th><%= f.label :"宛名", class: "control-label" %></th>
                <td><%= f.text_field :name, autofocus: true, class:"form-control-static rounded-lg" %></td>
                <div id="delivery_create">
                  <td class= "text-right"><%= f.submit "新規登録",class: "btn btn-success" %></td>
                </div>
              </tr>
            <% end %>
          </table>
          <div id="create">
            <%= render 'delivery_index', deliverys: @deliverys %>
          </div>
        </tbody>
      </div>
    </div>
  </div>