<%= render 'layouts/errors', obj: @delivery %>

<div class="l-main_container">
  <h2 class="delivery-title">配送先登録/一覧</h2>
  <%= form_with model: @delivery  do |f| %>
  <table class="delivery-index_form_table">
    <tr>
      <th><%= f.label :"郵便番号(ハイフンなし)" %></th>
      <td><%= f.text_field :post_code, autofocus: true %></td>
    </tr>
    <tr>
      <th><%= f.label :"住所", class: "control-label" %></th>
      <td><%= f.text_field :address, autofocus: true %></td>
    </tr>
    <tr>
      <th>宛名</th>
      <td><%= f.text_field :name, autofocus: true, class:"form-control-static rounded-lg" %></td>
    </tr>
  </table>
  <%= f.submit "新規登録",class: "delivery-index_btn" %>
  <% end %>
  <div id="create">
    <%= render 'delivery_index', deliverys: @deliverys %>
  </div>
</div>