<div class="l-main_container">
  <div class="m-page_title">
    <h2 class="admin-title">注文履歴詳細</h2>
  </div>

  <table class="admin-orders_show_table">
    <%= render 'order', orders: @orders %>
  </table>

  <div class="admin-orders_show_column">
    <table class="admin-orders_show_product_table">
      <tr class="admin-orders_show_product_table_row">
        <th>商品名</th>
        <th>単価<br>(税込)</th>
        <th>数量</th>
        <th>小計</th>
        <th>製作<br>ステータス</th>
      </tr>

      <% @orders.order_products.each do |order|%>
        <tr class="admin-orders_show_product_table_row">
          <td class="admin-orders_show_product_table_name"><%= order.product.name %></td>
          <td><%= order.product.price %></td>
          <td><%= order.quantity %></td>
          <td><%= order.product.add_tax_price.to_s(:delimited)  %></td>
          <td>
          <%= form_with model: order ,url: admin_order_product_path(order.id) ,method: :patch ,local: true  do |f| %>
          <%= f.select :production_status , OrderProduct.production_statuses.keys.map %>
          <%= f.submit '変更', class: "admin-orders_show_product_table_btn" %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <table class="admin-orders_show_price_table">
      <tr class="admin-orders_show_price_table_row">
        <th>商品合計</th>
        <td><%= @orders.total_price.to_s(:delimited)  %></td>
      </tr>
      <tr class="admin-orders_show_price_table_row">
        <th>送料</th>
        <td><%= @orders.postage.to_s(:delimited)  %></td>
      </tr>
      <tr class="admin-orders_show_price_table_row">
        <th>請求金額合計</th>
        <td><%= @orders.total_price+@orders.postage   %></td>
      </tr>
    </table>
  </div>
</div>
