<div class="l-main_container">
  <h3>ジャンル一覧・追加</h3>
  <div class="row">
    <%= form_with model: [:admin, @genre], remote: true do |f| %>
      <div class="form-group">
        <%= f.label :ジャンル名, class: "control-label" %>
        <%= f.text_field :name, class: "form-control-static" %>
        <%= f.submit '新規登録' %>
      </div>
    <% end %>
  </div>

  <div class="table">
    <table>
      <thead>
        <tr>
          <th>ジャンル</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <div id="genre_list">
          <%= render 'genre_list', genres: @genres %>
        </div>
      </tbody>
    </table>
  </div>
</div>