<%= render 'layouts/errors', obj: @customer%>

<div class="l-main_container">
  <h2 class="product_title">新規会員登録</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <table class="sign-up_table">
    <tr>
      <th><%= f.label :"名前", class: "" %></th>
      <td><%= f.label :"(姓)", class: "cutomer-edit_table_label_name" %><%= f.text_field :last_name, autofocus: true, placeholder: "令和",class:"cutomer-edit_table_name" %><br class=u-sp>
          <%= f.label :"(名)", class: "cutomer-edit_table_label_name"%><%= f.text_field :first_name, autofocus: true, placeholder: "道子",class:"cutomer-edit_table_name"%></td>
    </tr>
    <tr>
      <th><%= f.label :"フリガナ", class: "" %></th>
      <td><%= f.label :"(セイ)", class: "cutomer-edit_table_label_name"%><%= f.text_field :last_name_kana, autofocus: true, class:"cutomer-edit_table_name" %><br class=u-sp>
          <%= f.label :"(メイ)", class: "cutomer-edit_table_label_name"%><%= f.text_field :first_name_kana, autofocus: true, class:"cutomer-edit_table_name"%></td>
    </tr>
    <tr>
      <th><%= f.label :"メールアドレス", class: "" %></th>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %></td>
    </tr>
    <tr>
      <th><%= f.label :"郵便番号(ハイフンなし)", placeholder: "令和", class: "" %></th>
      <td><%= f.text_field :post_code, autofocus: true, placeholder: "0000000" %></td>
    </tr>
    <tr>
      <th><%= f.label :"住所", class: "" %></th>
      <td class="cutomer-edit_table_address"><%= f.text_field :address, autofocus: true, placeholder: "東京都渋谷区代々木神園町0-0" %></td>
    </tr>
    <tr>
      <th><%= f.label :"電話番号", class: "" %></th>
      <td><%= f.telephone_field :tel, autofocus: true, placeholder: "00000000000" %></td>
    </tr>
    <tr>
      <th><%= f.label :"パスワード(6文字以上)", class: "" %></th>
      <td><% if @minimum_password_length %>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control-static rounded-lg" %></td>
    </tr>
    <tr>
      <th><%= f.label :"パスワード確認用", class: "control-label align-text-bottom" %></th>
      <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
    </tr>
  </table>
  <div class="customer-info_other">
    <td><%= f.submit "新規登録", class: "sign-up_btn" %></td>
  </div>

    <% end %>
</div>
