<h2>新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <table>
    <tr>
      <th>名前</th>
      <td class="field">
        <%= f.label :"(姓)　" %>
        <%= f.text_field :last_name, autofocus: true %>
      </td>
      <td>
        <%= f.label :"(名)　" %>
        <%= f.text_field :first_name, autofocus: true %>
      </td>
    </tr>
    <tr>
      <th>フリガナ</th>
      <td class="field">
        <%= f.label :"(セイ)" %>
        <%= f.text_field :last_name_kana, autofocus: true %>
      </td>
      <td>
        <%= f.label :"(メイ)" %>
        <%= f.text_field :first_name_kana, autofocus: true %>
      </td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </td>
    </tr>
    <tr>
      <th>郵便番号(ハイフンなし)</th>
      <td class="field">
        <%= f.text_field :post_code, autofocus: true %>
      </td>
    </tr>
    <tr>
      <th>住所</th>
      <td class="field">
        <%= f.text_field :address, autofocus: true %>
      </td>
    </tr>
    <tr>
      <th>電話番号(ハイフンなし)</th>
      <td class="field">
        <%= f.telephone_field :tel, autofocus: true %>
      </td>
    </tr>
    <tr>
      <th>パスワード(6文字以上)</th>
      <td class="field">
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </td>
    </tr>
    <tr>
      <th>パスワード確認用</th>
      <td class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </td>
      <br>
    </tr>
    <tr>
      <td class="actions">
        <%= f.submit "新規登録" %>
      </td>
    </tr>
  </table>
<% end %>

<h3>既に登録済みの方</h3>
<%= link_to "こちら","/customers/sign_in" %>からログインしてください。
