<div class="l-main_container">
  <div class="m-page_title">
    <h2 class="cart-puroduct_title">商品一覧</h2>
    <%= link_to new_admin_product_path, class: 'admin-product_plus' do %>
    <% end %>
  </div>
  <table class="admin-product_table">
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜<br class="u-sp">価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
      <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= link_to product.name, admin_product_path(product) %></td>
        <td><%= product.price %></td>
        <td><%= product.genre.name %></td>
        <td>
          <% if product.sale_status %>
            <div class="text-success">販売中</div>
          <% else %>
            <div class="text-secondary">販売<br class="u-sp">停止中</div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>