<div class="l-main_container">
  <h2 class="admin-title">商品詳細</h2>
  <div class="admin-product_show_container">
    <div class=""><%= attachment_image_tag(@product, :image, size: "300x217") %></div>
    <div class="admin-product_show_product">
      <table class="admin-product_show_product_table">
        <tr>
          <th>商品名</th>
          <td><%= @product.name %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%= @product.description %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= @product.genre.name %></td>
        </tr>
        <tr>
          <th>税込価格<br class="u-pc">(税抜価格)</th>
          <td><%= "#{@product.add_tax_price.to_s(:delimited, delimiter:',')} (#{@product.price.to_s(:delimited, delimiter:',')}) 円" %></td>
        </tr>
        <tr>
          <th>販売ステータス</th>
          <td>
            <% if @product.sale_status %>
              <div class="text-success">販売中</div>
            <% else %>
              <div class="text-secondary">販売停止中</div>
            <% end %>
          </td>
        </tr>
      </table>
      <%= link_to '編集する', edit_admin_product_path(@product), class: "admin-product_show_product_btn" %>
    </div>
  </div>
</div>