<div class="l-main_container">
  <h2 class="m-page_title">注文一覧</h2>
    <div class="admin-orders_show_column">
      <table class="admin-orders_show_product_table">
        <tr class="admin-orders_show_product_table_row">
          <th>商品名</th>
          <th>単価<br class="u-sp">(税込)</th>
          <th>数量</th>
          <th>小計</th>

        </tr>
        <% @cart_products.each do |cart| %>
        <tr class="admin-orders_show_product_table_row">
          <td><%= cart.product.name %></td>
          <td><%= (cart.product.price).to_s(:delimited) %></td>
          <td><%= cart.quantity %></td>
          <td><%= (cart.product.add_tax_price * cart.quantity).to_s(:delimited) %> </td>

        </tr>
        <% end %>
      </table>

      <table class="admin-orders_show_price_table">
        <%= form_with model: @order, url: orders_path,method: :POST ,local: true do |f| %>
        <tr class="admin-orders_show_price_table_row">
          <th>送料</th>
          <td><%= f.label :postage, @postage %></td>
        </tr>
        <tr class="admin-orders_show_price_table_row">
          <th>合計金額</th>
          <td><%= f.label :total_price, @total.to_s(:delimited) %> </td>
        </tr>
        <tr class="admin-orders_show_price_table_row">
          <th>請求金額合計</th>
          <td><%= (@total+@postage).to_s(:delimited)%> </td>
        </tr>
      </table>
    </div>

    <div class="order_check_other">
      <table>
        <tr>
          <th>支払方法</th>
          <td><%= @payment_method %></td>
        </tr>
        <tr>
          <th>お届け先</th>
          <td>
            <%= f.label :post_code,@order.post_code %><br>
            <%= f.label :address, @order.address %><br>
            <%= f.label :name ,@order.name %>
          </td>
        </tr>
      </table>
      <%= f.hidden_field :name, value: @order.name %>
      <%= f.hidden_field :post_code, value: @order.post_code %>
      <%= f.hidden_field :address, value: @order.address %>
      <%= f.hidden_field :total_price, value: @total %>
      <%= f.hidden_field :postage, value: @postage %>
      <%= f.submit "注文を確定する" ,class: "order_check_btn" %>
      <% end %>
    </div>
</div>