<div class="l-main_container">
  <div class="m-page_title">
    <h2 class="cart-puroduct_title">注文履歴一覧</h2>
  </div>

    <table class="cart-puroduct_table">
      <tr class="cart-puroduct_table_row">
        <th>注文日</th>
        <th>配送先</th>
        <th>注文商品</th>
        <th>支払金額</th>
        <th>ステータス</th>
        <th>注文詳細</th>
      </tr>
      <% @orders.each do |order| %>
      <tr class="cart-puroduct_table_row">
        <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= order.address %></td>
        <td><%  order.order_products.each do |order_item| %>
        <%= order_item.product.name %>
        <% end %>
        </td>
        <td><%= order.total_price %></td>
        <td><%= order.status %></td>
        <td><%= link_to "詳細", order_path(order.id) %></td>
      </tr>
      <% end %>
    </table>
</div>