
<div class="l-main_container">
  <h2 class="login-title">ログイン</h2>
  <h3 class="login-sub_title">会員の方はこちらからログイン</h3>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table class="login-table">
      <tr>
        <th><%= f.label :"メールアドレス"%></th>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %></td>
      </tr>
      <tr>
        <th><%= f.label :"パスワード"%></th>
        <td><%= f.password_field :password, autocomplete: "current-password"%></td>
      </tr>
    </table>
    <%= f.submit "ログイン", class: "login-btn" %>
  <% end %>
  <h3 class="login-sub_title">登録すみでない方</h3>
  <p class="login-text"><a href="">こちら</a>新規登録を行ってください</p>
</div>