    <header class="l-header">
      <% if admin_signed_in? %>
      <%= link_to admin_root_path do %>
      <h1 class="l-header_title"><%= image_tag('logo.png') %></h1>
      <% end %>
      <% else %>
        <%= link_to root_path do %>
      <h1 class="l-header_title"><%= image_tag('logo.png') %></h1>
      <% end %>
      <% end %>
      <nav>
        <span class="l-nav_btn">
          <span class="l-nav_btn_bar"></span>
          <span class="l-nav_btn_bar"></span>
          <span class="l-nav_btn_bar"></span>
        </span>
        <div class="l-nav">
          <ul class="l-navbarnav_list">
            <% if customer_signed_in? %>
            <li class="l-nav_item active">
              <%= link_to 'Mypage', customers_path, class: "l-nav_item_anchor"%>
            </li>
            <li class="l-nav_item active">
              <%= link_to 'Items', products_path, class: "l-nav_item_anchor"%>
            </li>
            <li class="l-nav_item active">
              <%= link_to 'Cart', cart_products_path, class: "l-nav_item_anchor"%>
            </li>
            <li class="l-nav_item">
              <%= link_to 'Log out', destroy_customer_session_path, method: :delete , class: "l-nav_item_anchor"%>
            </li>
            <% elsif admin_signed_in? %>
            <li class="l-nav_item active">
              <%= link_to 'Items', admin_products_path, class: "l-nav_item_anchor"%>
            </li>
            <li class="l-nav_item">
              <%= link_to 'Customers', admin_customers_path, class: "l-nav_item_anchor"%>
            </li>
            <li class="l-nav_item">
              <%= link_to 'Orders', admin_orders_path, class: "l-nav_item_anchor"%>
            <li class="l-nav_item">
              <%= link_to 'Genre', admin_genres_path, class: "l-nav_item_anchor", "data-turbolinks": false %>
            </li>
            </li>
            <li class="l-nav_item">
              <%= link_to 'Log out', destroy_admin_session_path, method: :delete , class: "l-nav_item_anchor"%>
            </li>
            <% else %>
            <li class="l-nav_item active">
              <%= link_to 'About', about_path, class: "l-nav_item_anchor"%>
            </li>
            <li class="l-nav_item">
              <%= link_to 'Items', products_path, class: "l-nav_item_anchor"%>
            </li>
            <li class="l-nav_item">
              <%= link_to 'Sign in','/customers/sign_up ', class: 'l-nav_item_anchor' %>
            </li>
            <li class="l-nav_item">
              <%=link_to "Log in" , new_customer_session_path, class: "l-nav_item_anchor" %>
            </li>
              <% end%>

          </ul>
          <div class="l-nav_item_other">
         <% if customer_signed_in? %>
           <span class="l-nav_item_other_name u-pc">
            ようこそ<%= current_customer.last_name %><%= current_customer.first_name %>さん！
            </span>
          <% end %>
          </div>
        </div>
      </nav>
    </header>